<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container" id="banner">
      <div class="text">
        Meet the Viking Long<br>
        team.
      </div>
      <img src="/public/imgs/banner-team.png" alt="">
    </section>
    <section class="info-container">
      <div class="content min-center wow fadeInUp">
        People drive our success. We seek highly motivated, intellectually
        honest and humble individuals who bring diverse experiences
        and perspectives to their work.
      </div>
    </section>
    <section class="team-container max-center">
      <ul class="team-list">
        <li class="team-item-head wow fadeInUp">
          <div class="left-img">
            <img src="/public/imgs/people1.png" alt="Koby Sadan">
          </div>
          <div class="right-text">
            <div class="title">Koby Sadan</div>
            <div class="position">CEO</div>
            <div class="desc">
              负责维京龙的"前台"运营。建立并监督专有研究团队（包括数据分析，数据科学，政策分析，定性投资研究和尽职调查，以及ESG研究和政策），监督交易和财务，投资者关系，风险分析，绩效分析;负责优化和建立投资组织和团队。
            </div>
          </div>
        </li>
        <li class="team-item">
          <div class="title-module">
            <div class="img">
              <img src="/public/imgs/people2.png" alt="">
            </div>
            <div class="text">
              <div class="title">Jesse Tanenbaum</div>
              <div class="position">COO</div>
            </div>
          </div>
          <div class="desc">
            研究项目经理 - 首席执行官/首席运营官团队维京全球投资者2018年8月 - 至今 · 3 年 8 个月美国纽约地区
            管理整个公司的投资研究和数据关系，包括寻找新的替代数据集。
          </div>
        </li>
        <li class="team-item">
          <div class="title-module">
            <div class="img">
              <img src="/public/imgs/people2.png" alt="">
            </div>
            <div class="text">
              <div class="title">Jesse Tanenbaum</div>
              <div class="position">COO</div>
            </div>
          </div>
          <div class="desc">
            研究项目经理 - 首席执行官/首席运营官团队维京全球投资者2018年8月 - 至今 · 3 年 8 个月美国纽约地区
            管理整个公司的投资研究和数据关系，包括寻找新的替代数据集。
          </div>
        </li>
        <li class="team-item">
          <div class="title-module">
            <div class="img">
              <img src="/public/imgs/people2.png" alt="">
            </div>
            <div class="text">
              <div class="title">Jesse Tanenbaum</div>
              <div class="position">COO</div>
            </div>
          </div>
          <div class="desc">
            研究项目经理 - 首席执行官/首席运营官团队维京全球投资者2018年8月 - 至今 · 3 年 8 个月美国纽约地区
            管理整个公司的投资研究和数据关系，包括寻找新的替代数据集。
          </div>
        </li>
        <li class="team-item">
          <div class="title-module">
            <div class="img">
              <img src="/public/imgs/people2.png" alt="">
            </div>
            <div class="text">
              <div class="title">Jesse Tanenbaum</div>
              <div class="position">COO</div>
            </div>
          </div>
          <div class="desc">
            研究项目经理 - 首席执行官/首席运营官团队维京全球投资者2018年8月 - 至今 · 3 年 8 个月美国纽约地区
            管理整个公司的投资研究和数据关系，包括寻找新的替代数据集。
          </div>
        </li>
      </ul>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>